body {
    background-color: rgb(51, 40, 34);
    color: rgb(255, 209, 209);
}

a:link {
    color:rgb(255, 209, 209);
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(143, 68, 68);
    text-decoration: none;
}

button {
    display: block;
    margin: 50px auto 25px auto;
    width: 15%;
    color: rgb(143, 68, 68);
    background-color: pink;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 0;
    border-radius: 15px;
}

hr {
    border: solid rgb(143, 68, 68) 1px;
    width: 70%;
    margin-top: 40px;
}



h1 {
    text-align: center;
}

nav {
    width: 50%;
    text-align: center;
    border: dotted rgb(105, 59, 59) 5px;
    padding: 10px 0;
}

img,
nav {
    display: block;
    margin: auto;
}

img {
    border: dashed rgb(105, 59, 59) 5px;
    margin-bottom: 50px;
}